<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <b><a routerLink="" class="navbar-brand">Mobile Shop</a></b>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" *ngIf="router.url !== '/'">
        <li>
          <a (click)="onBackClicked()">
            <span class="glyphicon glyphicon-chevron-left" data-toggle="modal" role="button" aria-hidden="true"
              aria-label="back">
            </span>
            <label for="back">Back</label>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="showOptions()" class="dropdown" dropdown-status>
          <a class="dropdown-toggle" role="button">
            <span class="glyphicon glyphicon-menu-hamburger" role="button"></span>
          </a>
          <ul class="dropdown-menu border">
            <li><a routerLink="/profile" id="Profile">Profile</a></li>
            <hr class="border-line">
            <li><a (click)="onLogout()" id="Logout">Log out</a></li>
          </ul>
        </li>
        <li *ngIf="showLoginRegister()"><a id="Login-Register" routerLink="login-register/login">Login / Register</a></li>
      </ul>
    </div>
  </div>
</nav>