.navbar
{
    background-color:black;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    color: white;
    font-size: 30px
  }
.nav.navbar-nav.navbar-right #Login-Register {
    background-color: green;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 17px
}
.nav.navbar-nav li a{
    background-color: black;
    color: white
}
.nav.navbar-nav li label{
    font-size: 17px
}
.glyphicon.glyphicon-chevron-left{
    font-size: 17px
}
.glyphicon.glyphicon-menu-hamburger{
    font-size: 17px
}
.nav.navbar-nav.navbar-right .dropdown .dropdown-toggle{
    background-color: black;
    color: white;
}
.nav.navbar-nav.navbar-right .dropdown-menu #Profile{
    text-align: center;
    transform: translateY(30%);
    background-color: white;
    color:green
}
.nav.navbar-nav.navbar-right .dropdown-menu #Logout{
    text-align: center;
    transform: translateY(-30%);
    background-color: white;
    color: blue
}
.border{
    border: 3px solid black;
    border-radius: 8px;
}
.border-line{
    border: 2px solid black;
}
a, a label{
    cursor: pointer;
}