.border{
    border: 3px solid black;
    border-radius: 15px;
}
.border:hover{
    border: 3px solid green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: black;
}
mat-card{
    cursor: pointer;
}
.brands-filter{
    background-color: black;
    color: white;
    font-size: 35%;
}
.brands-filter input{
    color: black;
    font-size: 400%;
}
h3{
    padding: 15%;
    margin: 0%
}