.table-title{
    background-color: black;
    color: green;
    font-size: 20px
}
button{
    background-color: green;
    color: white;
    border: 3px solid green;
    border-radius: 15px;
    margin: 5px
}
button.center-block{
    background-color: green;
    color: white;
    border: 3px solid green;
    border-radius: 15px;
    transition-duration: 0.4s;
}
button.center-block:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
td:not(img).text-center{
    transform: translateY(30%);
}
img{
    width: 80px;
    height: 106px;
    text-align: center
}
a{
    cursor: pointer;
}
.submit-button{
    background-color: green;
    border-color: green;
    color: white;
    border-radius: 15px
}