<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <h4><b>Name</b></h4>
      <p>{{user.Firstname}} {{user.Lastname}}</p>
      <h4><b>Address</b></h4>
      <p>{{user.Address}}</p>
      <button *ngIf="!user.Address && !showAddressFrom" (click)="toggleAddAddress()">Add Address</button>
      <button *ngIf="!user.Address && showAddressFrom" (click)="toggleAddAddress()">Remove Address</button>
      <form (ngSubmit)="addAddress()" #addressform="ngForm" *ngIf="!user.Address && showAddressFrom">
        <div class="form-group">
          <input type="text" required ngModel name="address">
          <button class="btn submit-button" type="submit" [disabled]="addressform.invalid">Update</button>
        </div>
      </form>
      <h4><b>Phone</b></h4>
      <p>{{user.Phone}}</p>
      <button *ngIf="!user.Phone && !showPhoneFrom" (click)="toggleAddPhone()">Add Phone</button>
      <button *ngIf="!user.Phone && showPhoneFrom" (click)="toggleAddPhone()">Remove Phone</button>
      <form (ngSubmit)="addPhone()" #phoneform="ngForm" *ngIf="!user.Phone && showPhoneFrom">
        <div class="form-group">
          <input type="text" required ngModel name="phone">
          <button class="btn submit-button" type="submit" [disabled]="phoneform.invalid">Update</button>
        </div>
      </form>
      <h4><b>E-mail</b></h4>
      <p>{{user.Email}}</p>
    </div>
    <div class="col-xs-3">
      <br>
      <br>
      <br>
      <br>
      <button (click)="manageWallet()" class="center-block">
        <h1>{{user.Wallet}}€</h1>
      </button>
      <br>
      <div *ngIf="isWalletManaged">
        <div class="col-xs-3">
          <form (ngSubmit)="Deposit()" #depositform="ngForm">
            <div class="form-group">
              <label for="deposit value">
                <b>Deposit value</b>
              </label>
              <input type="text" size="6" pattern="[1-9]{1}[0-9]{1,}$" ngModel name="deposit value" required
                #depositvalue="ngModel">
              <br>
              <br>
              <button class="btn submit-button" type="submit" [disabled]="depositform.invalid">Deposit</button>
            </div>
          </form>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
          <form (ngSubmit)="Withdrawal()" #withdrawform="ngForm">
            <div class="form-group">
              <label for="withdraw value">
                <b>Withdraw value</b>
              </label>
              <input type="text" size="6" pattern="[1-9]{1}[0-9]{1,}$" ngModel name="withdraw value" required
                #withdrawvalue="ngModel">
              <br>
              <br>
              <button class="btn submit-button" type="submit" [disabled]="withdrawform.invalid">Withdraw</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-6" *ngIf="user.Purchases">
      <table class="table table-bordered table-responsive">
        <tr>
          <th class="table-title text-center" colspan="4">Purchases</th>
        </tr>
        <tr>
          <th class="text-center">Image</th>
          <th class="text-center">Item</th>
          <th class="text-center">Price</th>
        </tr>
        <tr *ngFor="let purchase of user.Purchases">
          <td style="text-align: center">
            <a (click)="ViewPhone(purchase)">
              <img src="{{purchase.img_url}}">
            </a>
          </td>
          <td class="text-center">{{purchase.brand}} {{purchase.model}}</td>
          <td class="text-center">{{purchase.price}}€</td>
        </tr>
      </table>
    </div>
  </div>
</div>